<%= render 'pages/menu' %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Avalia&ccedil;&otilde;es</h1>

  <table class="table table-sm table-stripped">
    <thead>
      <tr>
        <th>Avaliado</th>
        <th>Avaliador</th>
        <th>Coopera&ccedil;&atilde;o</th>
        <th>Foco</th>
        <th>Reponsabilidade</th>
        <th>Criativade</th>
        <th>Lideran&ccedil;a</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.rated_id %></td>
          <td><%= evaluation.rater_id %></td>
          <td><%= evaluation.helpful %></td>
          <td><%= evaluation.focused %></td>
          <td><%= evaluation.responsible %></td>
          <td><%= evaluation.creative %></td>
          <td><%= evaluation.leadership %></td>
          <td><%= link_to 'Exibir', evaluation %></td>
          <td><%= link_to 'Editar', edit_evaluation_path(evaluation) %></td>
          <td><%= link_to 'Apagar', evaluation, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nova avaliação', new_evaluation_path %>
</div>