<%= render 'pages/menu' %>
<div class="container">
  <h1>Avalia&ccedil;&atilde;o</h1>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Avaliado:</strong>
    <%= @evaluation.rated.email %>
  </p>

  <p>
    <strong>Avaliador:</strong>
    <%= @evaluation.rater.email %>
  </p>

  <p>
    <strong>Coopera&ccedil;&atilde;o:</strong>
    <%= @evaluation.helpful %>
  </p>

  <p>
    <strong>Foco:</strong>
    <%= @evaluation.focused %>
  </p>

  <p>
    <strong>Reponsabilidade:</strong>
    <%= @evaluation.responsible %>
  </p>

  <p>
    <strong>Criativade:</strong>
    <%= @evaluation.creative %>
  </p>

  <p>
    <strong>Lideran&ccedil;a:</strong>
    <%= @evaluation.leadership %>
  </p>

  <%= link_to 'Editar', edit_evaluation_path(@evaluation) %> |
  <%= link_to 'Voltar', evaluations_path %>
</div>